<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Khoa Pham</title>
        <style>
            hr {
                visibility: hidden;
            }
            .div-control {
                display: flex;
                width: 300px;
                justify-content: space-between
            }
        </style>
    </head>
    <body>
        <div>
            <h3>Mai Phương Thuý</h3>
            <div class="div-control">
                <a href="#">Trở lại</a>
                <a href="#">Tiếp</a>
            </div>
            <hr />
            <img src="1.jpg" alt="">
            <hr />
            <div class="div-control">
                <a href="#">8 Like</a>
                <a href="#">10 Dislike</a>
            </div>
        </div>
    </body>
</html>